<% layout("/layouts/boilerplate.ejs") %>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h2>
        Create new Listing
      </h2>
      <form method="POST" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" type="text" placeholder="Enter your title" class="form-control" required>
          <div class="invalid-feedback">Enter Title</div>
        </div>
        <br />

        <div>
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" type="text" placeholder="Enter your description" class="form-control"
            required></textarea>
          <div class="invalid-feedback">Please enter description</div>
        </div>
        <br />

        <div class="mb-3
          <label for=" image" class="form-label">Upload Image</label>
          <input name="listing[image]" type="file" class="form-control" required>
        </div>
        <br />

        <div class="row">
          <div class="col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" type="number" placeholder="Enter your price" class="form-control" required>
            <div class="invalid-feedback">Price should be enter</div>
          </div>
          <br />

          <div class="col-md-8">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" type="text" placeholder="Enter your country name" class="form-control"
              required>
          </div>
          <div class="invalid-feedback">Country should be enter</div>
        </div>
        <br />

        <div class="row">
          <div class="col-md-8">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" placeholder="Enter your location name" class="form-control"
              required>
            <div class="invalid-feedback">Location should be enter</div>
          </div>

          <div class="col-md-4">
            <label for="categories">Category:</label>
            <select name="listing[categories]" id="categories" required>
              <option value="">Select a category</option>
              <option value="Trending">Trending</option>
              <option value="Rooms">Rooms</option>
              <option value="Iconic Cities">Iconic Cities</option>
              <option value="Mountain">Mountain</option>
              <option value="Castle">Castle</option>
              <option value="Amazing Pool">Amazing Pool</option>
              <option value="Camping">Camping</option>
              <option value="Farms">Farms</option>
              <option value="Arctic">Arctic</option>
            </select>
          </div>
        </div>
        <br />
        <button class="btn btn-dark">Submit</button>
        <br /> <br />
      </form>

    </div>
  </div>