<% layout("/layouts/boilerplate.ejs") %>
  <div class="row">
    <div class="col-8 offset-2">
      <br />
      <h2>
        Login on AtithiStay
      </h2>
      <form method="POST" action="/login" novalidate class="needs-validation">
        <div>
          <label for="username" class="form-label">Username</label>
          <input name="username" type="text" placeholder="Enter your username" class="form-control" required>
          <div class="invalid-feedback">Enter username</div>
        </div>
        <br />

        <div>
          <label for="password" class="form-label">Password</label>
          <input name="password" id="password" type="text" placeholder="Enter your password" class="form-control"
            required></input>
          <div class="invalid-feedback">Enter correct password</div>
        </div>
        <br />
        <button class="btn btn-success">SignUp</button>
        <br /> <br />
      </form>
    </div>
  </div>